* {
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
    /* 16px */
    line-height: 1.6rem;
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
}

body {
    margin: 0;
}

.main {
    width: 90%;
    margin: auto;
}

.mainpage {
    background-image: linear-gradient(90deg, #EADBFF, #B7C6F4);
}


/**********PURCHASED ORDER BUTTON***********/

.porder {
    text-align: center;
    width: 100%;
    color: black;
    margin-top: 50px;
    margin-bottom: 50px;
    font-size: 50px;
    font-weight: 900;
}
.wattingandshipping{
    display: flex;
    width: 800px;
    margin: auto;
    margin-bottom: 20px;
    user-select: none;
}
.waiting {
    cursor: pointer;
    border-radius: 30px;
    width: 200px;
    background-color: #1c1c39;
    color: #d4b0b5;
    font-size: medium;
    height: 40px;
    line-height: 38px;
    font-size: medium;
    text-align: center;
}

.waiting:hover {
    background-color: #d4b0b5;
    color: black;
    transition-duration: 0.4s;
}
.shipping {
    margin-left: auto;
}

/**********BUTTON************/

.main button {
    font-size: medium;
    padding: 10px;
    width: 300px;
    border: none;
    border-radius: 30px;
}

button:hover {
    color: black;
    transition-duration: 0.4s;
}


/**********TABLE**********/
.tablecontainer {
    width: 100%;
    margin: auto;
    min-height: 500px;
}

th {
    height: 50px;
}

table,
tr,
th {
    border: solid black;
    border-collapse: collapse;
    padding: 10px;
}

.tableheader {
    background-color: #1C1C39;
    color: #D4B0B5;
}

table {
    margin: auto;
    width: 80%;
}

td {
    text-align: center;
    border-left: solid black;
    height: 50px;
}

/******edit icon**********/

.buttontd {
    border: none;
    border-radius: 100%;
    background-color: #1C1C39;
    width: 50px;
    height: 50px;
}

.buttontd i {
    color: #D4B0B5;
    margin: auto;
    font-size: 30px;
}

.buttontd:hover {
    background-color: #D4B0B5;
}
.buttontd:hover i {
    color: black;
}
.buttontd_money{
    border: none;
    border-radius: 100%;
    background-color: #1C1C39;
    width: 50px;
    height: 50px;
}
.buttontd_money i {
    color: #D4B0B5;
    margin: auto;
    font-size: 30px;
}

/**********TABLE CELL SIZE**********/
.image_order {
    width: 90px;
}

.edit,
.total,
.quantity,
.price {
    width: 200px;
}

/***************ARE YOU SURE***************/

.notice {
    display: none;
}

.exitnotice {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    opacity: 30%;
    background-color: black;
    z-index: 21;
}

.exitnotice:hover {
    background-color: black;
}

.areyousure {
    width: 550px;
    color: #d4b0b5;
    background-color: #1c1c39;
    position: fixed;
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    margin: auto;
    text-align: center;
    height: 250px;
    font-size: xx-large;
    padding-top: 60px;
    z-index: 22;
    border-radius: 30px;
}

.yes {
    float: left;
    border: #d4b0b5 solid 2px;
    color: #d4b0b5;
    font-weight: bold;
    background-color: #1c1c39;
    height: 50px;
    width: 200px;
    border-radius: 30px;
    margin-top: 60px;
    margin-left: 20px;
}

.no {
    float: right;
    border: #d4b0b5 solid 2px;
    color: #d4b0b5;
    font-weight: bold;
    background-color: #1c1c39;
    height: 50px;
    width: 200px;
    border-radius: 30px;
    margin-top: 60px;
    margin-right: 20px;
}

.yes:hover,
.no:hover {
    background-color: #d4b0b5;
    color: #1c1c39;
    transition-duration: 0.4s;
}

@media screen and (max-width: 800px) {
    .waiting {
        float: none;
        margin-left: 0;
        margin-bottom: 0;
        width: 100%;
        border-radius: 30px;

    }

    .edit,
    .total,
    .quantity,
    .price {
        width: 100px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }
    .wattingandshipping{
        width: 100%;
        display: flex;
        flex-direction: column;
    }
}